name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '**'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5
      
    - name: Restore dependencies
      run: nuget restore NFive.sln

    - name: Build the solution
      run: msbuild NFive.sln /p:Configuration=Release

    - name: List root folder contents
      run: dir

    - name: Zip the release
      uses: papeloto/action-zip@v1
      with:
        files: README.md LICENSE *.dll nfive.yml nfive.lock fxmanifest.lua index.html config/
        dest: nfive.zip

    - name: Attach Zip as build artifact
      uses: actions/upload-artifact@v1
      with:
        name: nfive
        path: .\nfive.zip
